body {
    background-color: #061e26;
}



/*mise en forme du texte avec une classe*/
header {
    background-color: #061e26;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.name {
    font-family: "Montserrat", serif;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}
.texte {
    font-family: "Yeseva One", serif;
    color: white;
    font-size: 50px;
}

.reseaux {
    display: flex;
    gap: 20px;
}

.reseaux i {
    color: white;
    font-size:30px;
}

.desc{
    color: white;
    font-size: 15px;
}

.intro{
    width: 70%;
    margin: 80px auto;
}

h2 span {
    color: rgb(0, 218, 109);
}

.boutons{
    display: flex;
    justify-content: center;
    gap: 30px
}

.boutons button {
    font-family: "Montserrat" ,serif;
    text-transform: uppercase;
    color: white;
    background-color:transparent;
    border: none;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 6px 10px;
    cursor: pointer;
}

.boutons button.active {
    background-color: rgb(0, 218, 109);
    color: #061e26;
    border-radius: 4px;
    font-weight: bold;
}

.image {   


    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    gap: 6px;
    padding: 20px 60px 60px;
}

footer p{
    color: white;
    text-align: center;
}