body {
    background-color: #061e26;
}



/*mise en forme du texte avec une classe*/
header {
    background-color: #061e26;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.name {
    font-family: "Montserrat", serif;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}
.texte {
    font-family: "Yeseva One", serif;
    color: white;
    font-size: 50px;
}

.reseaux {
    display: flex;
    gap: 20px;
}

.reseaux i {
    color: white;
    font-size:30px;
}

.desc{
    color: white;
    font-size: 15px;
}

.intro{
    width: 70%;
    margin: 80px auto;
}

h2 span {
    color: rgb(0, 218, 109);
}